<%- include('./partials/head.ejs') %>

  <form action="/api/auth/login" method="POST">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Enter email"
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter password" required>
    <button>Submit</button>
    <p>Don't have an account? Register <a href="/api/auth/register">here</a></p>
  </form>

<%- include('./partials/footer.ejs') %>