<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

    <h3>My Profile</h3>
    <p><%= profile.email %></p>
    <p>Rented books</p>
    <div></div>

<%- include('./partials/footer.ejs') %>
