<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/search.ejs') %>

            <div>
                <p>Cart page</p>
                <% if(!cart) {%>
                    <p>Cart is empty</p>
                    <% } else { %>
                        <p>Total Cost: <%= cart.cost %>
                        </p>
                        <% } %>
            </div>

            <p><a href="/">Back</a></p>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>