<nav>
    <div class="site-title">
        <a href="/">
            <h1>Lenen</h1>
        </a>
    </div>
    <% if(user){ %>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Welcome, <%= user.email %>
            </li>
            <li><a href="/api/auth/profile">Profile</a></li>
            <li><a href="/api/books/admin">Admin</a></li>
            <li><a href="/api/auth/logout">Logout</a></li>
        </ul>
        <% } else { %>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/auth/register">Sign Up or Log In</a></li>
            </ul>
            <% } %>
            <a href="#" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
                <i class="fas fa fa-shopping-cart fa-lg"></i>
                <span class="cart-basket d-flex align-items-center justify-content-center">
                  0
                </span>
            </a>
</nav>